*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 60vh;
    width: 60%;
    background-color: rgb(19, 116, 110);
    border-radius: 16px;
}
h1,h2{
    color: rgb(21, 18, 82);
}
.input__cover{
    display: flex;
}
.input__cover input, .input__cover div{
    margin: 10px 10px;
    width: 200px;
    height: 35px;
}
.tab-content{
    height: 300px;
    width: 700px;
}
